@media screen and (max-width: 1200px){

}

/* RESPONSIVE 1080 PX*/
@media screen and (max-width: 1080px){


}

/* RESPONSIVE 900 PX*/
@media screen and (max-width: 900px){

}

@media screen and (max-width: 750px){



  footer{
    flex-direction: column-reverse;
    height: auto;
  }

  .isos {
  width: 90px;
  margin: 9px;
  }
  
  .footerLeft{
    width: 100%;

  }
  
  
  #image{
    padding: 0 30px 0 30px;
    width: 500px;
  }


}

@media screen and (max-width: 650px){
  .caja_swiper_prod{
    width: 100%;
    }
}

.contendor_categorias{
  flex-direction: column;
}

#form_contacto{
  width: 100%;
}

input, select, textarea {
  width: 100%;
}

.contacto_IZQ{
  display: none;
}


/*------------------------------*/


@media screen and (max-width: 424px){


.flexSlider{
  flex-direction: column;
  height: 1400px;
}

#image{
  width: 100%;
  padding: 8px;
}

.caja_interna{
  justify-content: center;
}

.isos{
  width: 90px;
}

}