/* AMBIGUO CSS
==========================
FUENTES PERSONALIZADAS
==========================
*/
@font-face{
	font-family: '';
	src: url('') format('');
}

@font-face{
	font-family: 'popM';
	src: url('../rsc/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face{
  font-family: 'popR';
  src: url('../rsc/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'popL';
  src: url('../rsc/fonts/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face{
  font-family: 'popSM';
  src: url('../rsc/fonts/Poppins-SemiBold.ttf') format('truetype');
}
@font-face{
  font-family: 'montse';
  src: url('../../../assets/rsc/fonts/Montserrat-Medium.ttf') format('truetype');
}

:root{
--morado: #793DA3;
--darkm: #3D1C55;
--swiper-theme-color: magenta;
--corp: #d40f7d;
--swiper-pagination-bullet-inactive-color: gray;
--op1: #F3EAF9;
--op2: #C8E7FF;
}


/* CHEKBOXES*/


        /* The container */
.checkBox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: black;
}

/* Hide the browser's default checkbox */
.checkBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}


/* When the checkbox is checked, add a blue background */
.checkBox input:checked ~ .checkmark {
  background-color: black;
  border-radius: 7px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*=================*/


body{
  background: white;
}

*{ margin:0px; padding: 0px; box-sizing: border-box;}


/* ================================== CSS BACKEEND  ===================================== */

/*NAV LATERAL */
.cajaMenu{
  width: 20%;
  background:#222;
}
#menu{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%; 
  background: white; 
  transform: translateX(-100%); 
  transition: 0.5s;
}
.titulo_principal{
  color: white; 
  font-family: roboto; 
  margin-bottom:0;
}
#conte_principal{
    display: flex;
    background: #fbfafa;
}
#barra_superior{
    background-color: #C8B6FF;
    padding: 15px;
    text-align: center;
    font-family: roboto;
}
.menuItem{
  background-color: #DDD;
  padding: 5px;
  margin: 3px;
}

.menuItem:hover{
  font-weight: bold;
  color: blueviolet;
  cursor: pointer;
}
.contenidos_Bak{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.sub_menu{
  background: aliceblue;
  padding: 1px;
}
.botones{
  padding: 10px;
  background: #9468d5;
  border: none;
  width: 100%;
  text-align: left;
  border-bottom: solid blueviolet 2px;
  color: white; 
  font-weight: bold;
}
.botones_enlaces{
  padding: 10px;
  background: #e8e8e8;
  border: none;
  text-align: left;
  border-bottom: solid blueviolet 2px;
  width: 100%;
  display: block;
  text-decoration: none;
  color: #535151;
}
.botones_enlaces:hover{
  font-weight: bold;
  color: black;
}

.notDisplay{
  display: none;
}
.activo{
  color: white;
  font-weight: bold;

}
/* =========================== SWITCH ====*/

.switch_pos{
  position: absolute; left: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: tomato;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: chartreuse;
}

input:focus + .slider {
  box-shadow: 0 0 1px chartreuse;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*=== FORMULARIO INSERTA CONTENIDO*/

.head_insert{
  display: flex;
  margin-top: 50px;
  color: black;
}

.txtarea{
  resize: none;
}
.txtarea_footer{
  resize: none;
  width: 80%;
}
.formu_Inserta{
  display: flex;
  flex-direction: column;
  padding: 0px 20px 40px 20px;
}
.btn_inserta1{
  width: 200px;
  align-self: center;
  margin: 10px;
  background: chartreuse;
  border: none;
  font-family: roboto;
  border-radius: 10px;
  padding: 7px;
}

.btn_fuxia{
  background: #ff00bf; color: white; width: 200px;
}

.lista_columas{
  width: 40%;
}
.titular_form1{
  font-weight: 700;
}

/* ===== CSS FORMULARIO BANNER PRINCIPAL*/

#cont_form_fotos_baner1{
  width: 100%; 
  background: white; 
  display: flex; 
  align-items: center; 
  flex-direction: column;
}
.fondos_generales{
  width: 100%; 
  background: white; 
  display: flex; 
  align-items: center; 
  flex-direction: column;
}
#cont_inputs1{
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.cont_inputs{
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.estilo_inputs{
  color: black;
}
.indicas1{
  background: #b86dfd;
  color: #fff6ff;
  margin: 5px;
  padding: 7px 20px 7px 20px;
  border-radius: 12px;
  font-family: roboto;
}
#formBanner1{
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.titu_cambio_foto{
  background: #d6d6d7;
  width: 100%;
  text-align: center;
  padding: 8px;
  font-family: roboto;
  color: #515151;
  flex-direction: row;
  display: flex;
  justify-content: center;
  position: relative;
}
#btnFoto{
  padding: 6px;
  width: 200px;
  border-radius: 13px;
  border: none;
  font-family: roboto;
  background: #4f5150;
  color: white;
  margin-top: 20px;
}
#form_titu1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#btn_titu_banner{
  width: 200px;
}
.btn_genrico{
  padding: 6px;
  border-radius: 13px;
  border: none;
  font-family: roboto;
  background: #4f5150;
  color: white;
  margin-top: 20px;
}
/*===== SLIDERS BAK PRODUCTOS =====*/
.imgs_edit{
  height: 500px;
}
.contenedor_sliders{
  display: flex;
  justify-content: center;
  position: relative; 
  width: 100%; 
  background: black;
}
.box_slider_bak{
  width: 50%; 
  display: flex; 
  justify-content: center;
}

/* === ====================== CATEGORIAS*/
.fotos_cat{
  height: 15vh;
  margin-right: 5vw;
}
.cont_imgs_categorias{
  display: flex;
  justify-content: space-around;
  background: white; 
  flex-direction: column;
  width: 100%; 
  align-items: center;
}

.form_genetal1{
  padding: 20px;
  width: 80%; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.box_categorias1{
  display: flex; 
  align-items: center; 
  flex-direction: column; 
  background: #d6d6d7; 
  padding: 20px;
  width: 100%;
}
.form_categorias1{
  width: 90%;
  text-align: center;
}
.estantes{
  display: flex;
  align-items: center;
  padding: 12px 0px 26px 0px;
}
.nombres_categ{
  background: #686868;
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
.btn_generico_200{
  padding: 6px;
  border-radius: 13px;
  border: none;
  font-family: roboto;
  background: #4f5150;
  color: white;
  margin-top: 20px;
  width: 200px;
}
.estilo_inputs2{
  color: black;
}

.boxTitle{
  background-color: blueviolet; 
  text-align: center; 
  padding: 10px;
}
.p_formus{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detalles_formus{
  color: black;
}
.box_titulo{
  background: white; 
  width: 100%; 
  padding: 20px;
}
.input_title{
  width: 500px; 
  border-radius: 12px; 
  border: none; 
  padding: 4px;
}
.fondo_violeta{
  background:white;
}
/*========================== MEDALLAS ====*/
#form_medallas{
  text-align: center; 
  padding: 30px 0px 30px 0px;
}
.img_medallas{
    width: 10vw;
}
.w200{
  width: 200px;
}
.w_mitad{
  width: 50%;
}
/*====================================== VIDEO ===*/
.fer_flex{
  display: flex;
}
.box_video{
  width: 100%; 
  margin:auto;
  margin: 25px 0px 20px 0px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.sub_video{
    display: flex; 
    flex-direction: column; 
    width: 60%; 
    align-items: center;
}
.inp_video{
  width: 100%;
}

/*==== FOOTER ====*/

.plano_grama{
  width: 500px;
}

/* =========== BANNER PRINCIPAL PANEL DE CONTROL ===========*/

#sectionBannerBak{
  background-image: url(../../../../01_dreamlove_ver1/assets/rsc/img/fondo1_2200x900.jpg);
  background-size: cover; 
  width: 100%; 
  display: flex;
  justify-content: center;
  height: 50vh;
}

#bloqueIzBannerBak{
  /*background-color: rgba(100,100,255,0.3);*/
  color: black; width: 40%;
  font-family: 'montse'; 
  display: flex; 
  justify-content: center; 
  font-size: 41px;
  align-items: center; 
  text-align: center;
}

#bloqueDerBannerBak{
  /*background-color: rgba(254,100,0,0.3);*/ 
  color: white; 
  width: 50%; 
  display: flex;
  justify-content: center;
}

.img_ban{
  /*max-width: 66%;*/
  object-fit: contain;
}


/*========================================== CSS PAGINAS =================================== */
/*=============SLIDER===============*/
.swiper-container {
  width: 100%;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #000000;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.fotoSlide1{
  position: relative;
  height: 425px;
  background: none;
  width: 30%;
}

.imgSlide1{
 /* width: 50%; */
}

.btnSlide1{
  width: 130px;
  margin-left: auto;
  border-radius: 50px;
  background: var(--morado);
  color: white;
  border: none;
  font-family: 'muli';
  padding: 10px;
  font-size: 16px;
}

.txtSlider{
  display: flex;
  align-items: center;
  text-align: left;
  padding: 70px 45px;
  color: snow;
}

.sliderBackground{
  background-color: black;
}

.flexSlider{
  display: flex;
  height: 100vh;
}
.swiper {
  width: 100%;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

/*.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}*/

.partidor{
  width: 50%;
  object-fit: contain;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: gray;
  opacity: 1;
  background: rgba(240, 240, 240, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: var(--corp);
}

/* ============ NAVEGADOR ==========*/

  .customNav{
    z-index: 10;
    width: 100%; 
    background-color: transparent !important; 
    padding: 18px;
  }
  #logoNavegador{
    width: 200px;
  }

/* ===== CABECERA CONTENIDO HEADER ===== */

.contenedorFlex{
  display: flex;
}
.cabecera {
  width: 100%;
  height: 30%;
  position: relative;
  background-color: black;
}
.contenedorHeader{
  width: 100%;
  display: flex; 
  /*padding: 40px 3px; */
  justify-content: center;
  align-items: end;
  flex-direction: column;
}

.headerTitle{
  display: flex;
  width: 100%; 
  justify-content: center;
  background-color: black;
}

/* =========== BANNER PRINCIPAL ===========*/

#sectionBanner{
  background-image: url(../rsc/img/fondo1_2200x900.jpg);
  background-size: cover; 
  width: 100%; 
  display: flex;
  justify-content: center;
}

#bloqueIzBanner{
  /*background-color: rgba(100,100,255,0.3);*/
  color: white; width: 40%;
  font-family: 'popR'; 
  display: flex; 
  justify-content: center; 
  font-size: 41px;
  align-items: center; 
  text-align: center;
}

#bloqueDerBanner{
  /*background-color: rgba(254,100,0,0.3);*/ 
  color: white; 
  width: 32%; 
  display: flex;
  justify-content: center;
}

/* ============== ICONOS ISOS ===================*/

.caja_isos{
  display: flex; justify-content: center;
}
.caja_interna{
  width: 80%; padding: 50px; padding: 50px; display: flex; justify-content: space-between; flex-wrap: wrap;
}


 .isos {
  width: 130px;
  margin: 9px;
}

/*========= SECTION VIDEO  DESKTOP==============*/

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  max-width: 100%;
  background-color: black;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ====== FOOTER DESKTOP ========*/
footer{
  height: 70vh;
  display: flex;
  background: black;
}

#contenido_footer{
  margin: 30px 30px 60px 30px;
}

#planograma{
  height: 41px; 
  width: 274px; 
  margin: 26px 0 20px 0;
}

.footerLeft{
  width: 59%; 
  background-color: #484848;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer_contenido{
  width: 100%; 
  background-color: #484848;
  /*height: 40vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.separador_footer{
  width: 1%;
}
.separador_footer2{
  width: 1%;
}
.footerRight{
  width: 40%;
  height: 70vh;
  display: flex;
  align-items: center;
  padding: 35px;
  background: white;
  justify-content: center;
}

#footer_productos{
  margin-top: 20px;
  /*height: 40vh;*/
}

#image{
  width: 74%;
}

#caja_redes{
  color: white;
}
.ico_redes{
  max-width: 38px;
  margin: 6px;
}
#siguenos{
  padding-bottom: 11px;
}

.zoomText{
  text-align: center;
  padding: 20px 30px;
  font-family: 'popSM'; 
  background: white; 
  font-size: 23px; 
  color: white;
}
.dragIcon{
  width: 70px;
}


.copyRight1{
  color:white; 
  padding-top: 20px;
  text-decoration: none;
 font-weight: bold;
}
.copyRight2{
  color:#d40f7d; 
  padding-top: 20px;
  text-decoration: none;
 font-weight: bold;
}

.contenedorTest{
  display: flex;

}

/* ARCHIVO PRUEBAS */
.pruebas1{
  width: 100%;
  height: 300px;
  background-color: tomato;
}
.pruebas2{
  width: 100%;
  height: 300px;
  background-color: seagreen;
  display: flex;
  align-items: center;
}

/* ============================ CSS SECTION PRODUCTOS ======================*/

.titular_tablas{
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}
table{
  font-family: popR;

}
.caja_swiper_prod{
  width: 100%;
}
#box_1{
  display: flex;
  justify-content: center;
}

.txt_footer{
  color:snow;
  width: 65%;
}

.info_products{
  color: white;
  font-family: 'popL';
}

/* ============== ACORDION CSS  =========== */
td{
  font-family: popL;
  font-size: 13px;
}
.accordion-button:not(.collapsed){
  color:snow;
  background-color: #763d91;
}
.accordion-button:focus {
z-index: 3;
border-color: purple;
box-shadow: 0 0 0 .25rem rgba(233, 9, 240, 0.22);
}
.accordion-button{
  background: #bbb;
}
.accordion-button::after{
  background-image: url(assets/rsc/img/up.svg);
}
.accordion-button:not(.collapsed)::after{
  background-image: url(assets/rsc/img/down.svg);
}
.accordion-body{
  background: #484848;
}
.nombre_producto{
  font-family: popM;
}

/* =========== CSS CONTACTO ===========*/

.form_caja{
  display: flex;
  position: relative; 
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.form_caja::before{
  content: "";
  background: url(../rsc/img/f_generic.jpg)no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  /*opacity: 0.4;*/
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;  
}

.contacto_IZQ{
}
.formu_contacto_caja{
  width: 80%;
  display: flex;
  justify-content: center;
  color: white;
}
#form_contacto{
  margin-bottom: 50px;
}


@media screen and (max-width: 1200px){
  .caja_swiper_prod{
  width: 50%;
  }
}

/* RESPONSIVE 1080 PX*/
@media screen and (max-width: 1080px){

  #image{
    width: 100%;
  }

}

/* RESPONSIVE 900 PX*/
@media screen and (max-width: 900px){

/* ARCHIVO PRUEBAS */
.contenedorTest{
  display: flex;
  flex-direction: column;
}

/* === slider_responsive === */

.flexSlider{
  flex-direction: column;
  height: auto;
}
.partidor {
  width: 100%;
}

.txtSlider{
  margin-bottom: 55px;
}  

/*BANNER PRINCIPAL*/
#sectionBanner{
  flex-direction: column;
}


#bloqueDerBanner{
  width: 100%;
}

#bloqueIzBanner {
  width: 100%;
  padding: 60px 20px 0px 20px;
  font-size: 33px;
}

.soporteLogo{
  position: relative;
  bottom: 3px;
  font-size: 16px; 
  margin-left: 15px; 
  color: #a4a4a4;
  font-family: 'popL'
}

.bloqueSeparador{
 display: none;
}

.cabecera{
  width: 100%;
}

footer{
    height: 70vh;
}

.footerLeft{
  width: 60%;
  height: 70vh;
}

.footerRight{
  width: 40%;
  height: 70vh;
}
.separador_footer{
  padding: 8px;
}
.separador_footer2{
  padding: 8px;
  display: none;
}

@media screen and (max-width: 750px){

  footer{
    flex-direction: column-reverse;
    height: auto;
  }

  .isos {
  width: 90px;
  margin: 9px;
  }
  
  .footerLeft{
    width: 100%;
    /*height: 60vh;*/
  }
  
  .footerRight{
    width: 100%;
    /*height: 40vh;*/
  }
  
  #image{
    padding: 0 30px 0 30px;
    width: 500px;
  }


}

@media screen and (max-width: 650px){
  .caja_swiper_prod{
    width: 100%;
    }
}

#form_contacto{
  width: 100%;
}

input, select, textarea {
  width: 100%;
}


/*------------------------------*/


@media screen and (max-width: 424px){


.flexSlider{
  flex-direction: column;
  height: 1400px;
}

#image{
  width: 100%;
  padding: 8px;
}

.caja_interna{
  justify-content: center;
}

.isos{
  width: 90px;
}

}


